services:
  postgres:
    image: postgres:15-alpine
    container_name: crypto_postgres
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: crypto_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - crypto-network

  redis:
    image: redis:alpine
    container_name: crypto_redis
    ports:
      - "6379:6379"
    networks:
      - crypto-network

  auth-service:
    build:
      context: ./backend/auth-service
      dockerfile: Dockerfile
    container_name: crypto_auth_service
    env_file:
      - ./backend/auth-service/.env
    ports:
      - "4000:4000"
    depends_on:
      - postgres
    restart: always
    networks:
      - crypto-network

  market-service:
    build:
      context: ./backend/market-service
      dockerfile: Dockerfile
    container_name: crypto_market_service
    ports:
      - "4001:4001"
    environment:
      PORT: 4001
      REDIS_HOST: redis
    depends_on:
      - redis
    networks:
      - crypto-network

volumes:
  postgres_data:

networks:
  crypto-network:
    driver: bridge
